:root {
	--color-red: #ef1c3d;
	--color-black: #000;
	--color-white: #fff;
}

@font-face {
	font-family: 'seven-segment';
	src: url('./Seven\ Segment.ttf');
}

html body {
	margin: 0px;
	padding: 0px;
	background-color: var(--color-black);
	font-family: 'seven-segment';
	color: var(--color-white);
}

h1 {
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	transform: skew(20deg);
	margin: 5px 0px;
}

.center{
	display:flex;
	justify-content: center;
	width: auto;
	margin-bottom: 20px;
}
.backskew{
	background-color: var(--color-red);
	padding: 10px 50px;
	transform: skew(-20deg);
	display:inline-block;
}
h2 {
	font-size: 40px;
	font-weight: 600;
	text-align: center;
}
h3 {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
p {
	font-size: 26px;
	font-family: 'Jura', sans-serif;
	font-weight: 400;
	text-align: center;
}

/* Nav CSS */
nav {
	position: fixed;
	width: 100%;
	background-color: var(--color-black);
	z-index: 100;
}

.nav-items {
	display: flex;
	justify-content: space-around;
	width: 100%;
	transition: all 0.5s ease;
	transform: scaleY(1);
}
nav .burger {
	color: var(--color-white);
	font-size: 30px;
	margin-top: 40px;
	display: none;
	transition: all ease 0.5s;
}
.hide {
	transform: scaleY(0);
	overflow: hidden;
}
.rotate {
	transform: rotate(90deg);
}
@media only screen and (max-width: 1200px) {
	nav {
		position: static;
	}

	.nav-items {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.nav-item {
		margin-top: 20px;
		border-top: 1px solid white;
		border-bottom: 1px solid white;
	}
	nav ul {
		flex-direction: column;
	}
	nav .burger {
		display: block;
	}
}
nav ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
nav ul li {
	list-style-type: none;
}
nav a {
	color: var(--color-white);
	text-decoration: none;
	font-size: 40px;
}
nav a:hover {
	color: var(--color-red);
}
.logo {
	width: 300px;
	position: relative;
	top: 20px;
	transform: rotate(-10deg);
	-webkit-filter: drop-shadow(5px 5px 3px #2f2f2f);
	filter: drop-shadow(5px 5px 3px #2f2f2f);
}
/* Nav CSS */

/* Hero CSS */
#hero {
	background-image: url('./images/band-tom-jon.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 1100px;
	display: flex;
	align-items: center;
}
.hero-logo {
	padding-left: 100px;
	width: 800px;
	-webkit-filter: drop-shadow(5px 5px 3px #2f2f2f);
	filter: drop-shadow(5px 5px 3px #2f2f2f);
}

@media only screen and (max-width: 1200px) {
	#hero {
		justify-content: center;
		height: 500px;
	}
	.hero-logo {
		width: 300px;
		padding-left: 0px;
	}
}
/* Hero CSS */

/* About CSS */
#about {
	display: flex;
	align-items: center;
	padding: 20px 100px;
}
.about-text {
	padding: 80px;
}
.about-image img {
	width: 600px;
	border: 4px solid white;
	margin: 10px;
	transform: rotate(-5deg);
}

@media only screen and (max-width: 600px) {
	.about-image img {
		width: 300px;
	}
}

@media only screen and (max-width: 1200px) {
	#about {
		flex-direction: column-reverse;
	}
}

/* About CSS */

/* Members CSS */

#members {
	display: flex;
	overflow: hidden;
}
.member {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 10px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	transition: all 0.5s ease-in;
	transform: skew(-5deg);
	overflow: hidden;
}
.jon {
	background-image: url('./images/members-jon2.jpg');
}
.tom {
	background-image: url('./images/members-tom.jpg');
}
.darren {
	background-image: url('./images/members-darren.jpg');
	background-position: right center;
}
.guitar {
	background-image: url('./images/members-jon.jpg');
}

.member-content {
	background-color: rgba(239, 28, 61, 0.4);
	transform: scaleY(0);
	transition: all 0.5s ease;
	padding: 20px 10px;
	box-shadow: 3px 3px 5px rgb(30, 30, 30);
}

.member:hover .member-content {
	transform: scaleY(1);
}
.member:hover {
	padding: 10px 100px;
}

@media only screen and (max-width: 1200px) {
	#members {
		flex-direction: column;
		transition: all 0.5s ease-in;
	}
	.member {
		max-height: 400px;
		height: auto;
		transition: all 0.5s ease-in;
		transform: skew(0deg);
	}
	.member:hover {
		max-height: 2000px;
		padding: 10px 20px;
	}
	.member:active {
		max-height: 2000px;
	}
	.member-content {
		max-height: 2000px;
	}
}

/* Members CSS */

/* Music CSS */
#music {
	margin-top: 50px;

}
.music-container {
	display: flex;
	justify-content: space-around;
}

.music-container img {
	width: 500px;
	padding: 50px 100px 100px 100px;
}

.soundcloud {
	display: flex;
	align-items: center;
	width: 800px;
}

@media only screen and (max-width: 1200px) {
	.music-container {
		flex-direction: column;
	}

	.music-container img {
		width: 300px;
		padding: 10px;
		margin: 0 auto;
		display: block;
	}

	.soundcloud {
		font-size: 50px;
		padding-top: 20px;
		justify-content: center;
		width: 100%;
	}

	.soundcloud iframe{
		height: 500px;
	}
}

/* Music CSS */
#videos {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.video-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}
.youtube {
	width: 60vw;
	height: 35vw; /* 100/56.25 = 560/315 = 1.778 */
}
.video-buttons {
	display: flex;
	justify-content: center;
	width: 60%;
}
.video-button {
	background-image: url('./images/members-tom.jpg');
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 130px;
	width: 20%;
	cursor: pointer;
}
.video-button:hover {
	background-size: 150%;
	transition: background-size 0.2s ease-in-out;
}

@media only screen and (max-width: 1200px) {
	.youtube {
		width: 90%;
	}
	.video-buttons {
		width: 90%;
	}
	.video-button {
		height: 50px;
	}
}
/* Music CSS */

/* Gallery CSS */

.image-container{
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	margin: 0 auto;
	flex-wrap: wrap;
}
.image-row{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
}
.image-cell{
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
}
.image-cell:hover{
	background-size: 150%;
	transition: background-size 0.5s ease-in-out;
}
.lightbox{
	display:none;

	position:fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;

	padding: 1em;

	background: rgba(0,0,0,0.8);
}

.lightbox span{
	display:block;
	width: 100%;
	height: 100%;

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Gallery CSS */

/* Contact CSS */

#contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}
#contact strong, #contact span{
	font-size: 30px;
	margin-top: 10px;
	font-family: 'Jura', sans-serif;
}

#contact a{
	text-decoration: none;
	color: var(--color-white);
}

@media only screen and (max-width: 1200px) {
	#contact strong, #contact span{
		font-size: 22px;
		text-align: center;
	}
}